#topic1
{
    border: 5px solid;
    background: salmon;
}

#comment1
{
    border: 5px solid;
    background: pink;
}

#comment2
{
    border: 5px solid;
    background: coral;
}

#first
{
    border: 1px salmon solid;
}